{% extends 'base.html.twig' %}

{% block title %}Hello EmployeController!{% endblock %}

{% block body %}
    <h1>Liste des employés</h1>

    <a class="btn btn-primary" href="{{ path('add_employe')}}">Ajouter un employé </a> <br>

    {% for employe in employes %}
            
            <a href="{{ path('show_employe',{'id':employe.id})}}">{{employe}} {{ employe.entreprise}}</a>
            <a class="btn btn-warning" href="{{ path('edit_employe', {'id': employe.id})}}">Edit</a> 
            <a class="btn btn-danger" href="{{ path('delete_employe', {'id': employe.id})}}">Delete</a> <br>
        {% endfor %}
{% endblock %}
